apiVersion: v1
kind: ConfigMap
metadata:
  name: db-config
data:
  DB_PORT: "3306"            # Port for PostgreSQL
  DB_NAME: "database-1.c8lweogi44to.us-east-1.rds.amazonaws.com"  # Replace with your database name
