version: "3.8"
services:
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: frontend-app
    ports:
      - "80:80"
    networks:
      - appnet
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-app
    ports:
      - "86:80"
    environment:
      - DB_HOST=rds.c8lweogi44to.us-east-1.rds.amazonaws.com
      - DB_USERNAME=admin
      - DB_PASSWORD=Rayees786
      - PORT=3306
    networks:
      - appnet
networks:
  appnet:
    driver: bridge
